DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"
CONFIG_URL="https://gist.githubusercontent.com/valerius21/669ca8266650fc5e44a7a9b0305b54b1/raw/4644ff629af70ca8623c6495ee3ec7fbaccaec20/dfg_config.yaml"
